/* viewproduct.module.css */

.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display three cards in a row */
  gap: 20px;
}

.productTile {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  width: calc(33.33% - 20px); /* Calculate width of each card to fit three in a row */
}

.productTile h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.productTile p {
  font-size: 14px;
  margin-bottom: 8px;
}

.productTile p:last-child {
  margin-bottom: 0;
}
